# Framework principal para construir la API REST
Django==4.2

# Extensión para Django que facilita la creación de APIs REST
djangorestframework

# Manejo de variables de entorno desde archivos .env
python-dotenv

# Conector para MariaDB/MySQL
mysqlclient

# Conector para PostgreSQL
psycopg2-binary

# Manejo estructurado de configuraciones y variables de entorno
django-environ

# Generación de documentación OpenAPI/Swagger
drf-spectacular

#Extensión para trabajar con Emulador de Cosmos DB de Azure
azure-cosmos

#Zona horaria
pytz

